// ---------------------------
// color variables
// ---------------------------
@var-nav-text-color: black; //rgb(180,180,180);
@var-body-text-color: black;  //rgb(210,210,210);
@var-bg-color: white; //rgb(7,7,7);
@var-nav-text-color: black; //rgb(180,180,180);
@var-hover-border-color: gray;
@var-hover-color: gray;

html{
    height: 100%;
}
body {
    padding: 30px;
    font-family: Monospace;
	background-color: @var-bg-color;
    width: 1200px;
    height: 100%;
    color: @var-body-text-color
}

// -------------
// side bar
// -------------
#sidebar-wrapper {
    position: relative;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 100px;
    width: 15%;
    list-style: none;
    margin: 0;
	background-color: @var-bg-color;
    .sidebar-a {
        a {
            color: @var-nav-text-color;
            display: block;
            text-decoration: none;
            &:active,
            &:focus,
            &:hover {
                color: @var-hover-color;
                background: none;
                text-decoration: none;
            }
        }
    }

    .sidebar-header {
        height: 65px;
        line-height: 60px;
        font-size: 18px;
        .sidebar-a;
    }
    li {
        line-height: 40px;
        text-indent: 20px;
        font-size: 14px;
        .sidebar-a;
    }
}

#content-wrapper {
  float:right;
  width: 84%;
  background-color: @var-bg-color;
  height: 100%;
  font-size: 14px;
}

#content-header {
    float:top;
	position: relative; 
	width: 79%;
    height: 65px;
    line-height: 65px;
    font-size: 24px;
}

#row-container {
	width: 100%;
    height: 600px;
    background: @var-bg-color;
}

#box1 {
	float:right;
    width: 19%;
	height: 50%;
    background-color: @var-bg-color;
    font-size: 12px;
}

// --------------------
// the box for the svg
// --------------------
#box2 {
	float:left;
	position: relative; 
	width: 79%;
	height: 100%; 
    background-color: @var-bg-color; 
    font-size: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(90,90,90,.5);
}

// ----------------------
// feature selection box
// ----------------------
#feature_selection {
	width: 95%;
  	height:80%;
    color: @var-body-text-color;
    background-color: @var-bg-color;
    border-color: rgb(210,210,210);
    font-size: 12px;

    &::-webkit-scrollbar {
        width: 0;
    }
    &:active,
    &:focus,
    &:hover,
    &:checked {
        border-color: @var-hover-border-color;
    }
}

// small text box to be displayed when
// the "ANALYZE" button is clicked
#analyzing {
    text-align: center;
    color: rgb(176,224,230);
    background-color: @var-bg-color;
}

// ANALYZE button
#butt_hist {
    border-radius: 3px;
    background-color: @var-bg-color;
    border-style:solid;
    color: @var-body-text-color;
    font-size: 14px;
    &:active,
    &:focus,
    &:hover {
        text-decoration: none;
        color: white;
        border-color: white;
        background-color: rgb(25,25,25);
    }
}

#selected-features {
    ol{
        // list-style-position: inside;
        margin-left: 35px;
    }
}

#footnote {
  position: relative;
  right: 0px;
  bottom: -90px;
  font-size: 0.7em;
}

// -------------
// MATCHUP PAGE
// -------------

/* ================= */
#content-wrapper-matchup {
  float: right;
  width: 84%;
  background-color: @var-bg-color;
  // height: 1400px;
  font-size: 14px;
  color: @var-body-text-color;
  
  .content-header-matchup {
      float: top;
      position: relative;
      width: 100%;
      height: 65px;
      line-height: 65px;
      font-size: 24px;
      background: @var-bg-color;
  }

  .content-container-matchup {
      width: 100%;
      height: 1100px;
      font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";

      .row1 {
          height: 300px;
          background: @var-bg-color;
          .left-container{
              background: @var-bg-color;
              float:left;
              width: 35%;
              height: 100%;
          }
          .right-container{
              background: @var-bg-color;
              float:left;
              width: 40%;
              height: 100%;
          }
      }
      
      .row2 {
          background: @var-bg-color;
          height: 500px;
          .left-container{
              background: @var-bg-color;
              float:left;
              width: 35%;
              height: 100%;
              .tab {
                  float: right;
                  width: 50%;
              }
          }
          .right-container{
              float:right;
              width: 65%;
              height: 100%;

              .home-visitor {
                  float:right;
                  background: @var-bg-color;
                  height: 7%;
              }
              .svg-container-matchup {
                  // background: @var-bg-color;
                  height: 93%
                  bottom:0;
                  
              }
          }
      }
  }

}

#datepicker {
    width: 256px;
}

#butt-pop {
  // border-radius: 3px;
  // background-color: none;
  // border-style: none;
  // font-size: 14px;
  // height: 23px;
  width: 70px;

  &:active,
  &:focus,
  &:hover {
      text-decoration: none;
      // color: @var-hover-color;
      // border-color: @var-hover-border-color;
      // background-color: #191919;
  }
}


#disp-game {
    margin: 10px;
    width: 370px;
    // height: 200px;
    /* border: none; */

    &::-webkit-scrollbar {
        width: 0;
    }
}

#svg-graph-matchup{
    float: bottom;
    width: 99%;
    height: 99%;
    background: @var-bg-color;
    bottom:0;
    border-left: solid;
    border-width: 1px;
    border-color: rgba(90, 90, 90, 0.5); //white;

}
// #svg-container-matchup {
//   margin: 0px;
//   font-size: 12px;
//   // border-style: solid;
//   border-width: 1px;
//   border-color: yellow; //rgba(90, 90, 90, 0.5);
//   border-radius: 25px;

// }



