<!doctype html>
<html lang="en" ng-app="pops">
<head>
	<meta charset="utf-8">
  	<title>Pop's Winning Factors</title>
	<link rel="stylesheet" href="/static/stylesheets/bootstrap.css">
  	<link rel="stylesheet" href="/static/stylesheets/pops.css"/>
  	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
	<script src="http://d3js.org/d3.v3.min.js"></script>
    <style>
      	circle {
      		stroke:black;
      		stroke-width:1px;
      		fill:black;
      		opacity:0.5;
     	}
      	rect {
      		stroke:black;
      		stroke-width:1px;
      		fill:black;
      		opacity:0.5;
     	}
      	path.link {
      		fill: none;
      	  	stroke: #666;
      	  	stroke-width: 1.5px;
      	}
	</style>	
	
</head>

<body>
	
	<div id='row_container' ng-controller="controller_feature_selection">
		
		<div id='box1'>
			<select multiple id='feature_selection' ng-model="selectedValues" ng-change="selectionsChanged()">
			</select>
		</div>
		
		<div id='box2'>
			<script src="/static/js/dag.js"></script>
		</div>
		
		<div id='box1' style='background:gray;'>
			{{features_selection_result|json}}
		</div>
		
	</div>
	
</body>
<script src="/static/js/pops.js"></script>
</html>
