::root {
  var-link-color: #086A87;
}

a:link {color:var-link-color;}   
a:visited {color:var-link-color;}
a:hover {color:var-link-color;}  
a:active {color:var-link-color;} 

body {
    border: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    min-width: 100px;
    max-width: 900px;
    font-family: Helvetica,Arial,sans-serif; 
    color: black;
}

.header table {
    width: 100%;
    border: 0px;
}

td {
    width: 3px; 
}

.header a {
    color: black;
    text-decoration: none;
}

div.abstract {
    background-color: #FAFAFA;
    margin-left: 3px;
    margin-right: 4px;
    border: 10px;
    padding: 10px;
    border-radius:25px;
}

a#workingPaper {
    color: black;
    text-decoration: none;
}

#footnote {
  position: relative;
  right: 0px;
  bottom: -90px;
  font-size: 0.7em;
}
